

<h4>Data Model for CRF</h4>

<p>
    The CRF's underlying data model is set up to deliver accident data statistics. An overview of the data model and its elements is given on this page.
</p>

<h3>Data Fields:</h3>
<table>
    <thead>
        <tr>
            <th>Field Name</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><strong>Unique ID</strong></td>
            <td>An identifier.</td>
        </tr>
        <tr>
            <td><strong>Crash Year</strong></td>
            <td>A Crash Accident Year.</td>
        </tr>
        <tr>
            <td><strong>Crash Location</strong></td>
            <td>Location of the Accident</td>
        </tr>
        <tr>
            <td><strong>Crash Date/Time</strong></td>
            <td>Date and Time of Accident</td>
        </tr>
        <tr>
            <td><strong>Weather Condition</strong></td>
            <td>The type of Weather Condition(Clear, Cloudy etc)</td>
        </tr>
        <tr>
            <td><strong>Road Condition</strong></td>
            <td>The type of Road Condition(Wet, Ice, etc)</td>
        </tr>
        <tr>
            <td><strong>Road Character</strong></td>
            <td>The type of Road Character(straight, Level, etc)</td>
        </tr>
        <tr>
            <td><strong>Road Configuration</strong></td>
            <td>The type of Road Configuration(divided, two-way, etc).</td>
        </tr>
        <tr>
            <td><strong>Vehicle Type</strong></td>
            <td>The type of Road Configuration(sport,van, etc)</td>
        </tr>
        <tr>
            <td><strong>Additional Information</strong></td>
            <td>The Additional Information of case.</td>
        </tr>
        <tr>
            <td><strong>Injuries</strong></td>
            <td>Any additional message related to the injuries.</td>
        </tr>
    </tbody>
</table>
<div class="data-model">
    <h2>Data-Model: </h2>
    <img src="~/Images/datamodel.png" alt="data model">
</div>
<div class="github-link">
    <h3>Access to our Github Repository: </h3><a href="https://github.com/AkyReddy03/DIS-ISM6225_Project">
        Github
        Link
    </a>
    <h3>Access to our Data Source: </h3><a href="https://catalog.data.gov/dataset/crash-data">
        Data Source
        Link
    </a>
</div>
    <style>
        table {
                width : 60%;
                border-collapse : collapse;
                margin-bottom: 20px;
                margin-left: auto;
                margin-right: auto;
            }

    th, td {
        padding: 12px 15px;
        border: 1px solid #007bff; /* Ensuring that the table lines are visible */
    }

            th {
        background-color: #007bff;
        color: #fff;
    }
    </style>